@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
/*ссылка на шрифт, импортированная*/

body {
    margin: 0;
    /*в родительском элементе убирает отступы от границ браузерного окна*/
    background-color: #fff;
    /* фон всего элемента*/
    font-family: 'Roboto', sans-serif;
    /*шрифт, если первый не подключен, подключается второй и тд*/
    font-size: 16px;
    /*размер шрифта для всего элемента*/
    font-weight: 500;
    /*жирность шрифта (bold, от 600 уже жирнее)*/
}

.main_menu {
    background-image: url('images/1.jpg');
    /*добавление картинки на задний фон*/
    background-repeat: no-repeat;
    /*чтобы картинка не повторялась*/
    background-size: cover;
    /*чтобы картинка покрывала весь блок*/

}

.menu {
    display: flex;
    /*Так у блоков появилось свойство flex-контекст, которое в дальнейшем позволит ими управлять гораздо проще, чем с использованием стандартного CSS.*/
    justify-content: flex-end;
    /*выравнивание элементов по оси Х (space-between, flex-start, flex-end, center, space-around)*/
    margin-bottom: 0px
}

.link_menu {
    font-size: 20px;
    text-decoration: none;
    /*убрать подчёркивание у ссылок*/
    padding: 11px;
    /*устанавливает внутренние отступы/поля со всех сторон элемента. Область отступов это пространство между содержанием элемента и его границей.*/
    color: #360230;
    font-weight: 600;
    text-align: center;
    /*описывает, как линейное содержимое, наподобие текста, выравнивается в блоке его родительского элемента.*/
    margin: 20px
        /*определяет внешний отступ на всех четырёх сторонах элемента*/
}

.link_menu:hover {
    color: #eb83e0;
    /*при наведении меняет цвет*/
    box-shadow: 4px 4px 14px #eb83e0;
    /*тень вокруг элемента*/
}

hr {
    margin: 0;
    background-image: url(images/png-transparent-desktop-abstract.png);
    height: 10px
}

.main_info {
    background-color: rgba(233, 204, 255, 0.6);
    /*добавление цвета на фон с размытием*/
}

.main_photo {
    width: 300px;
    border-radius: 50%;
    /*чтобы картинка была круглой, рх для закруглённых углов*/
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.9);
    /*тень вокруг фотки*/
    transition: 1s;
    /* Время эффекта */
    display: block;
    /* Убираем небольшой отступ снизу */
}

.main_photo:hover {
    transform: scale(1.1);
    /* Увеличиваем масштаб */
}

.main_skills {
    display: flex;
    justify-content: center;
    margin-top: 0;
    background-color: rgba(233, 204, 255, 0.6);
    background-repeat: no-repeat;
    background-size: cover;

}

.skills {}

.main_job {
    display: flex;
    background-color: rgba(233, 204, 255, 0.6);
    margin: 0
}

.main_courses {
    display: flex;
    background-color: rgba(233, 204, 255, 0.6);
}

.link_courses {
    text-decoration: none;
    color: black;
}

.link_courses:hover {
    color: rgb(255, 255, 255);

}

.footer {
    display: flex;
    justify-content: flex-end;
    background-image: url('images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0
}

.head_3 {
    font-weight: 600;
    color: #360230;
    text-align: right;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 18px
}

.link {
    text-decoration: none;
    margin-right: 15px;
}


.soc {
    height: 25px;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.soc:hover {
    box-shadow: 4px 4px 4px #eb83e0;
}