@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
/*ссылка на шрифт, импортированная*/


/*padding: 10px 35px - первое значение верх/низ, второе - лево/право.
padding - отступ от края блока до его контента,
margin - отступ от края блока до другого блока*/

/*box-sizing: border-box - чтобы учитывать в элементе границы*/


/*---------------------------------------------------------------------------КОРНЕВОЙ ЭЛЕМЕНТ----------------------------------------------------------------------------*/
body {
    margin: 0;
    /*в корневом элементе убирает отступы от границ браузерного окна*/
    background-color: #fff;
    /* фон всего элемента*/
    font-family: 'Roboto', sans-serif;
    /*шрифт, если первый не подключен, подключается второй и тд*/
    font-size: 16px;
    /*размер шрифта для всего элемента*/
    font-weight: 500;
    /*жирность шрифта (bold, от 600 уже жирнее)*/
}



/*-------------------------------------------------------------------------------HEADER----------------------------------------------------------------------------------*/
.main_menu {
    background-image: url('images/1.jpg');
    /*добавление картинки на задний фон*/
    background-repeat: no-repeat;
    /*чтобы картинка не повторялась*/
    background-size: cover;
    /*чтобы картинка покрывала весь блок*/

}

.menu {
    display: flex;
    /*Так у блоков появилось свойство flex-контекст, которое в дальнейшем позволит ими управлять гораздо проще, чем с использованием стандартного CSS.*/
    justify-content: flex-end;
    /*выравнивание элементов по оси Х (space-between, flex-start, flex-end, center, space-around)*/
    margin-bottom: 0px
}

.link_menu {
    font-size: 20px;
    text-decoration: none;
    /*убрать подчёркивание у ссылок*/
    padding: 11px;
    /*устанавливает внутренние отступы/поля со всех сторон элемента. Область отступов это пространство между содержанием элемента и его границей.*/
    color: #360230;
    font-weight: 600;
    text-align: center;
    /*описывает, как линейное содержимое, наподобие текста, выравнивается в блоке его родительского элемента.*/
    margin: 20px
        /*определяет внешний отступ на всех четырёх сторонах элемента*/
}

.link_menu:hover {
    color: #eb83e0;
    /*при наведении меняет цвет*/
    box-shadow: 4px 4px 14px #eb83e0;
    /*тень вокруг элемента*/

}

/* .link_menu:active {
    color: white;
} при удерживании меняет цвет*/

/* .link_menu:visited {
    color: grey
} посещённые ссылки становятся серыми*/

hr {
    margin: 0;
    background-image: url(images/png-transparent-desktop-abstract.png);
    height: 10px
}



/*------------------------------------------------------------------------------------ГЛАВНАЯ ИНФОРМАЦИЯ-----------------------------------------------------------------------*/
#main {
    display: flex;
    justify-content: center;
    padding-left: 105px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(233, 204, 255, 0.445);
    /*добавление цвета на фон с размытием*/
    color: #86898f;
    letter-spacing: 3px;
    /*расстояние между буквами*/
    word-spacing: 5px;
    /*расстояние между словами*/

}

.main_photo {
    width: 300px;
    float: left;
    border-radius: 50%;
    /*чтобы картинка была круглой, рх для закруглённых углов*/
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.9);
    /*тень вокруг фотки*/
    transition: 1s;
    /* Время эффекта */
    display: block;
    /* Убираем небольшой отступ снизу */
    margin-top: 45px;
    margin-bottom: 45px
}

.main_photo:hover {
    transform: scale(1.1);
    /* Увеличиваем масштаб */
}

.horizontal {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 700px;
    height: 3px;
    padding-left: 50px;
    padding-right: 90px
}


/*Отступы элементов отсчитываются от границ родительского блока, в котором находятся*/

.vertical {
    position: absolute;
    /*позиционирование относительно левого верхнего угла окна браузера, применяется, чтобы наложить поверх*/
    width: 3px;
    height: 200px;
    top: 0px;
    /*отступы от границ окна для абсолютов*/
    left: 150px;
    /*отступы от границ окна для абсолютов*/

}

.vertical_2 {
    position: absolute;
    width: 3px;
    height: 200px;
    top: 150px;
    left: 890px;


}

.head_1 {
    padding-left: 0px;
}

.main_h3 {
    padding-left: 0px;

}

.main_info_p {
    position: relative;
    text-align: center;
    padding-left: 100px;
    margin-top: 35px;
}



/*-------------------------------------------------------------------------------------НАВЫКИ---------------------------------------------------------------------------------*/
.main_skills {
    display: flex;
    justify-content: center;
    margin-top: 0;
    background-color: rgba(233, 204, 255, 0.445);
    background-repeat: no-repeat;
    background-size: cover;
    color: #86898f;
    font-weight: bold;
    padding: 40px
}

.soft {
    background-image: url('images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 150px;
    width: 700px;
    border-radius: 20px;
    text-align: left;
}

.ul {
    list-style: none;
    /*чтобы не было нумерации у списков*/

}

.soft:hover {
    transition: 2s;
    transform: scale(1.3);
    color: #360230;
    box-shadow: 4px 4px 14px #000;
}

.hard {
    background-image: url('images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
    border-radius: 20px;
    text-align: left;

}

.hard:hover {
    transition: 2s;
    transform: scale(1.3);
    color: #360230;
    box-shadow: 4px 4px 14px #000;
}

#skill {
    display: flex;
    margin: 20px;

}

.head_2 {
    text-align: center;
}



/*----------------------------------------------------------------------------------ОПЫТ РАБОТЫ-----------------------------------------------------------------------------*/
.main_job {
    display: flex;
    justify-content: center;
    background-color: rgba(233, 204, 255, 0.6);
    margin: 0;
    padding: 40px;
    color: #86898f;
}

.job {
    margin: 20px 100px
}

.head_job {
    text-align: center;
    margin-bottom: 0;
    color: #360230
}

.work {
    padding: 20px;
    width: 1000px;

}

.work th {
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 17px;
}

.work tr:nth-child(even) {
    background: #360230;
    height: 40px;
    text-align: center;
    color: #e9a6e2;
}

.work tr:nth-child(odd) {
    background: #e9a6e2;
    height: 40px;
    text-align: center;
    color: #360230;
}

/* чётные строки, в противном случае - ODD */


/*.work td:nth-child(1), .work td:nth-child(3)
    {
    color: #fff;
}
/*чтобы обратиться к определённому ребёнку родительского элемента */

/*-------------------------------------------------------------------------------------ПОДВАЛ--------------------------------------------------------------------------------*/
.footer {
    display: flex;
    justify-content: flex-end;
    background-image: url('images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0
}

.head_3 {
    font-weight: 600;
    color: #360230;
    text-align: right;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 18px;
    text-shadow: 4px 4px 8px #e9a6e2;
    /*тень для текста*/
}


.link {
    text-decoration: none;
    margin-right: 15px;
}


.soc {
    height: 25px;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.soc:hover {
    box-shadow: 4px 4px 4px #eb83e0;
    border-radius: 50%;
}




/*-----------------------------------------------------------------------------------КУРСЫ---------------------------------------------------------------------------------*/

.sertificate {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 100px;
    padding-bottom: 20px;
    background-color: #ffd8fb
}

.head_1_1 {
    text-align: left;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 80px;
    margin-top: 40;
    background-image: url('images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25px;
    padding-left: 30px;
    color: #360230;
    text-shadow: 4px 4px 14px #fff;
}


.sertificate_img {
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 0
}

.img_ {
    width: 600px
}

.sertificate_info {
    text-align: center;
    width: 500px;
    color: #000;
    padding-left: 100px;
    padding-top: 70px;
    padding-right: 100px;
    background-image: url('images/1.jpg');
    background-size: cover;
    font-weight: 600;
    font-size: 20px;
}

.ser_title {
    text-align: center;
    padding-left: 50px;
    padding-top: 155px;
    color: #86898f;
}

.sertificate_1 {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding-left: 100px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #ffd8fb
}

.sertificate_info_1 {
    text-align: center;
    width: 500px;
    color: #000;
    padding-left: 100px;
    padding-top: 80px;
    padding-right: 90px;
    background-image: url('images/1.jpg');
    background-size: cover;
    font-weight: 600;
    font-size: 20px;

}

.ser_title_2 {
    text-align: center;
    padding-top: 155px;
    padding-right: 100px;
    color: #86898f;
}